In [90]:
import pandas as pd

In [91]:
df = pd.read_csv("fire_archive_M6_96619.csv")

In [92]:
df.head(5)

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-11.8070,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0

In [93]:
df.columns

Index(['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')

In [94]:
df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-11.8070,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0
36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0
36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0
36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0
36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2

In [95]:
df.sort_values(['confidence'])

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
26724,-12.5668,141.9047,338.7,1.5,1.2,2019-09-13,38,Terra,MODIS,0,6.3,303.9,59.2,D,0
14924,-11.9938,134.2829,318.7,1.0,1.0,2019-08-29,121,Terra,MODIS,0,6.3,306.0,6.4,D,0
21025,-30.1814,152.4996,326.2,1.1,1.0,2019-09-07,1459,Aqua,MODIS,0,6.3,284.3,25.4,N,0
21026,-30.1831,152.5105,323.7,1.1,1.0,2019-09-07,1459,Aqua,MODIS,0,6.3,284.2,23.3,N,0
357,-11.2365,131.8871,314.1,2.8,1.6,2019-08-01,525,Aqua,MODIS,0,6.3,299.6,26.8,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27304,-13.0099,130.3622,395.2,1.0,1.0,2019-09-13,506,Aqua,MODIS,100,6.3,324.6,224.1,D,0
18798,-25.9173,150.8482,339.6,1.0,1.0,2019-09-05,1510,Aqua,MODIS,100,6.3,297.1,40.8,N,0
4602,-29.3545,152.8274,361.7,1.1,1.0,2019-08-10,335,Aqua,MODIS,100,6.3,295.5,96.4,D,0
9145,-16.2484,126.0997,372.3,1.1,1.1,2019-08-16,1406,Terra,MODIS,100,6.3,295.8,148.6,N,0
22019,-28.9529,152.4014,397.8,1.1,1.0,2019-09-08,1230,Terra,MODIS,100,6.3,301.4,275.7,N,0

In [96]:
df = df.drop(columns=['scan','track','satellite','instrument','version','daynight','type','bright_t31'])

In [97]:
print(df.head(5))

latitude  longitude  brightness    acq_date  acq_time  confidence   frp
0  -11.8070   142.0583       313.0  2019-08-01        56          48   6.6
1  -11.7924   142.0850       319.3  2019-08-01        56          71  11.3
2  -12.8398   132.8744       311.6  2019-08-01        57          42  23.1
3  -14.4306   143.3035       310.1  2019-08-01        57          33   6.5
4  -12.4953   131.4897       310.3  2019-08-01        57          36  27.6

In [98]:
df = df.sort_values(['confidence'])

In [99]:
print(df)

latitude  longitude  brightness    acq_date  acq_time  confidence  \
26724  -12.5668   141.9047       338.7  2019-09-13        38           0
14924  -11.9938   134.2829       318.7  2019-08-29       121           0
21025  -30.1814   152.4996       326.2  2019-09-07      1459           0
21026  -30.1831   152.5105       323.7  2019-09-07      1459           0
357    -11.2365   131.8871       314.1  2019-08-01       525           0
...         ...        ...         ...         ...       ...         ...
27304  -13.0099   130.3622       395.2  2019-09-13       506         100
18798  -25.9173   150.8482       339.6  2019-09-05      1510         100
4602   -29.3545   152.8274       361.7  2019-08-10       335         100
9145   -16.2484   126.0997       372.3  2019-08-16      1406         100
22019  -28.9529   152.4014       397.8  2019-09-08      1230         100

         frp
26724   59.2
14924    6.4
21025   25.4
21026   23.3
357     26.8
...      ...
27304  224.1
18798   40.8
4602    96.4
9145   148.6
22019  275.7

[36011 rows x 7 columns]

In [100]:
print(df.head())

latitude  longitude  brightness    acq_date  acq_time  confidence   frp
26724  -12.5668   141.9047       338.7  2019-09-13        38           0  59.2
14924  -11.9938   134.2829       318.7  2019-08-29       121           0   6.4
21025  -30.1814   152.4996       326.2  2019-09-07      1459           0  25.4
21026  -30.1831   152.5105       323.7  2019-09-07      1459           0  23.3
357    -11.2365   131.8871       314.1  2019-08-01       525           0  26.8

In [101]:
df = df.loc[df['confidence'] > 50]

In [102]:
print(df.head())

latitude  longitude  brightness    acq_date  acq_time  confidence   frp
3854   -29.9149   152.8576       309.6  2019-08-08      1447          51  17.5
16463  -14.8777   142.1988       324.8  2019-09-01       441          51  30.7
31834  -11.6070   133.0207       321.6  2019-09-21       127          51   9.1
24825  -14.4184   126.8204       308.3  2019-09-10      1704          51   9.3
11110  -15.6378   130.6621       308.0  2019-08-20      1342          51  10.7

In [103]:
print(df)

latitude  longitude  brightness    acq_date  acq_time  confidence  \
3854   -29.9149   152.8576       309.6  2019-08-08      1447          51
16463  -14.8777   142.1988       324.8  2019-09-01       441          51
31834  -11.6070   133.0207       321.6  2019-09-21       127          51
24825  -14.4184   126.8204       308.3  2019-09-10      1704          51
11110  -15.6378   130.6621       308.0  2019-08-20      1342          51
...         ...        ...         ...         ...       ...         ...
27304  -13.0099   130.3622       395.2  2019-09-13       506         100
18798  -25.9173   150.8482       339.6  2019-09-05      1510         100
4602   -29.3545   152.8274       361.7  2019-08-10       335         100
9145   -16.2484   126.0997       372.3  2019-08-16      1406         100
22019  -28.9529   152.4014       397.8  2019-09-08      1230         100

         frp
3854    17.5
16463   30.7
31834    9.1
24825    9.3
11110   10.7
...      ...
27304  224.1
18798   40.8
4602    96.4
9145   148.6
22019  275.7

[27608 rows x 7 columns]